<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<!-- Context Parameters -->
   <context-param>
      <param-name>weblogic.servlet.verbose</param-name>

      <param-value>true</param-value>
   </context-param>

<!-- Define the applications xml file -->
   <context-param>
      <param-name>configfile</param-name>

      <param-value>tpascheda.xml</param-value>
   </context-param>

   <servlet>
      <servlet-name>CommandHandlerServlet</servlet-name>

      <servlet-class>com.fs.is.servlet.CommandHandlerServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>TPASchedABridgeServlet</servlet-name>

      <servlet-class>com.fs.app.tpascheda.servlets.TPASchedABridgeServlet</servlet-class>
   </servlet>

	<servlet>
      <servlet-name>TPASchedAPDFServlet</servlet-name>

      <servlet-class>com.fs.app.tpascheda.servlets.TPASchedAPDFServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>CommandHandlerServlet</servlet-name>

      <url-pattern>/CommandHandlerServlet</url-pattern>
   </servlet-mapping>


   <servlet-mapping>
      <servlet-name>TPASchedABridgeServlet</servlet-name>

      <url-pattern>/jsp/scheda.pdf</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>TPASchedAPDFServlet</servlet-name>

      <url-pattern>/jsp/scheda2.pdf</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>

<!--  Welcome Files -->
   <welcome-file-list>
      <welcome-file>jsp/handler.jsp</welcome-file>
   </welcome-file-list>

   <error-page>
      <exception-type>java.lang.Exception</exception-type>

      <location>/jsp/error.jsp</location>
   </error-page>

<taglib>
      <taglib-uri>ifs.tld</taglib-uri>

      <taglib-location>/WEB-INF/lib/ifstags.jar</taglib-location>
   </taglib>

   <taglib>
      <taglib-uri>prdsalestags.tld</taglib-uri>

      <taglib-location>/WEB-INF/lib/prdsaleswebutil.jar</taglib-location>
</taglib>

</web-app>

